@import '../abstract/variaveis';

@mixin bg-cores($lado, $cores...) {
    @if $lado == left {
    background: linear-gradient(to left, $cores);
    }
    @else {
        background: linear-gradient(to right, $cores)
    }
}

footer {
    @include bg-cores($cor-primaria, $cor-secundaria, $cor-terciaria);
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: 300;
    font-size: $tamamho-texto / 2;
    i {
        margin-left: .5rem;
        color: $cor-terciaria;
        &:hover {
            color: $cor-primaria;
        }
    }
}
